<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>box.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,90}</string>
                <key>spriteSourceSize</key>
                <string>{98,94}</string>
                <key>textureRect</key>
                <string>{{293,663},{94,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,70}</string>
                <key>spriteSourceSize</key>
                <string>{160,80}</string>
                <key>textureRect</key>
                <string>{{293,591},{156,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>check_off.tga</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,34}</string>
                <key>spriteSourceSize</key>
                <string>{34,34}</string>
                <key>textureRect</key>
                <string>{{293,771},{34,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>check_on.tga</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,34}</string>
                <key>spriteSourceSize</key>
                <string>{34,34}</string>
                <key>textureRect</key>
                <string>{{389,663},{34,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,65}</string>
                <key>spriteSourceSize</key>
                <string>{65,65}</string>
                <key>textureRect</key>
                <string>{{451,591},{65,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>logo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,40}</string>
                <key>spriteSize</key>
                <string>{224,290}</string>
                <key>spriteSourceSize</key>
                <string>{500,386}</string>
                <key>textureRect</key>
                <string>{{1,591},{224,290}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>panel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{878,588}</string>
                <key>spriteSourceSize</key>
                <string>{884,592}</string>
                <key>textureRect</key>
                <string>{{1,1},{878,588}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>progress.tga</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{698,32}</string>
                <key>spriteSourceSize</key>
                <string>{698,32}</string>
                <key>textureRect</key>
                <string>{{881,1},{698,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>progress_box.tga</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{698,32}</string>
                <key>spriteSourceSize</key>
                <string>{698,32}</string>
                <key>textureRect</key>
                <string>{{915,1},{698,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>progress_item.tga</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{656,14}</string>
                <key>spriteSourceSize</key>
                <string>{656,14}</string>
                <key>textureRect</key>
                <string>{{293,755},{656,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>game.png</string>
            <key>size</key>
            <string>{950,816}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e203b2f6b7799c56bd91e2e7e93f5b5e:a28876cc2fbf12dfb02e961c50e810fe:b2cae276934292945ac49b6ea6cfb4fe$</string>
            <key>textureFileName</key>
            <string>game.png</string>
        </dict>
    </dict>
</plist>
