<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>load.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,32}</string>
                <key>spriteSourceSize</key>
                <string>{52,32}</string>
                <key>textureRect</key>
                <string>{{0,0},{52,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loadbg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{312,38}</string>
                <key>spriteSourceSize</key>
                <string>{312,38}</string>
                <key>textureRect</key>
                <string>{{52,0},{312,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>game.png</string>
            <key>size</key>
            <string>{364,38}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c3a1d2ad9d012464a44702ece1bf0e83:8e8db508a3beb4fd76fd4fa53b34d3cb:b2cae276934292945ac49b6ea6cfb4fe$</string>
            <key>textureFileName</key>
            <string>game.png</string>
        </dict>
    </dict>
</plist>
