<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>check_off.tga</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,34}</string>
                <key>spriteSourceSize</key>
                <string>{34,34}</string>
                <key>textureRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>check_on.tga</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,34}</string>
                <key>spriteSourceSize</key>
                <string>{34,34}</string>
                <key>textureRect</key>
                <string>{{34,0},{34,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>checkbox.png</string>
            <key>size</key>
            <string>{68,34}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9d2af65b00062c31a8854c0d95a4d727:3c23cc25c459996363bebfd0b8aaf80e:4ddb37c8538c3b827ff3cc50c4cfce48$</string>
            <key>textureFileName</key>
            <string>checkbox.png</string>
        </dict>
    </dict>
</plist>
