<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{450,450}</string>
                <key>spriteSourceSize</key>
                <string>{450,450}</string>
                <key>textureRect</key>
                <string>{{0,0},{450,450}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{450,450}</string>
                <key>spriteSourceSize</key>
                <string>{450,450}</string>
                <key>textureRect</key>
                <string>{{450,0},{450,450}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{450,450}</string>
                <key>spriteSourceSize</key>
                <string>{450,450}</string>
                <key>textureRect</key>
                <string>{{900,0},{450,450}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{450,450}</string>
                <key>spriteSourceSize</key>
                <string>{450,450}</string>
                <key>textureRect</key>
                <string>{{1350,0},{450,450}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.webp</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{286,233}</string>
                <key>spriteSourceSize</key>
                <string>{286,233}</string>
                <key>textureRect</key>
                <string>{{0,450},{286,233}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>avatar.tga</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{265,83}</string>
                <key>spriteSourceSize</key>
                <string>{265,83}</string>
                <key>textureRect</key>
                <string>{{286,450},{265,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,112}</string>
                <key>spriteSourceSize</key>
                <string>{107,112}</string>
                <key>textureRect</key>
                <string>{{551,450},{107,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>friend.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,112}</string>
                <key>spriteSourceSize</key>
                <string>{107,112}</string>
                <key>textureRect</key>
                <string>{{658,450},{107,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>help.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,112}</string>
                <key>spriteSourceSize</key>
                <string>{107,112}</string>
                <key>textureRect</key>
                <string>{{765,450},{107,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>menu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{872,450},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>setting.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{992,450},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>task.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{1112,450},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,54}</string>
                <key>spriteSourceSize</key>
                <string>{70,54}</string>
                <key>textureRect</key>
                <string>{{1232,450},{70,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>plaza.png</string>
            <key>size</key>
            <string>{1800,683}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ce636e725e21e733e98f228d32e09fe3:b8eecf97b61bfccb34b4338c2a5fde54:e0806e90bb9996875a6dfb603b5efd84$</string>
            <key>textureFileName</key>
            <string>plaza.png</string>
        </dict>
    </dict>
</plist>
