<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lb_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{509,32}</string>
                <key>spriteSourceSize</key>
                <string>{509,32}</string>
                <key>textureRect</key>
                <string>{{0,0},{509,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lb_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{511,30}</string>
                <key>spriteSourceSize</key>
                <string>{511,30}</string>
                <key>textureRect</key>
                <string>{{0,32},{511,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>progress.png</string>
            <key>size</key>
            <string>{511,62}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:218d533965fb5d292c63a2b20c21956f:8c51bedd3572dc31ebcf3f7cf2e3234e:d72797b2cb7ec62c6a8c5cc7ff3ff1a2$</string>
            <key>textureFileName</key>
            <string>progress.png</string>
        </dict>
    </dict>
</plist>
